# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/mapLayoutTool/node_modules
/.pnp
.pnp.js
client/.firebase

# testing
/coverage

# production
/build
/client/build
/mapLayoutTool/build

# misc
.DS_Store
client/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
assets_unused/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
database-debug.log
ui-debug.log
client/firebase-debug.log
notes
mapLayoutTool/mapData_orig_backup.json
client_secret*
