body {
  margin: 0;
}

.game {
  color: black;
  background-color: black;
}

.dialog {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 20%;
  left: 40%;
  width: 300px;
  height: 200px;
  z-index: 10;
  border: 2px solid lightgray;
  border-radius: 10px;
  color: lightgray;
  background-color: darkslategray;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.dialog-message {
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.dialog-button {
  width: 100px;
  height: 30px;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}
