body {
  margin: 0;
  background-color: black;
}

.game {
  color: black;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
  scrollbar-color: seagreen #225555;
  scrollbar-width: thin;
}
