.catacombs {
	background-image: url('../assets/tilesets/Catacombs/catacombs.png');
}

/* FLOORS */

.floor-one {
	background-position: -256px -320px;
}

.floor-two {
	background-position: -320px -320px;
}

.floor-three {
	background-position: -256px -386px;
}

.floor-four {
	background-position: -320px -386px;
}

.floor-five {
	background-position: -256px -224px;
}

.floor-six {
	background-position: -320px -224px;
}

/* WALLS */

.top-left-wall {
	background-position: 0 0;
}

.top-wall-one {
	background-position: -64px 0;
}

.top-wall-two {
	background-position: -128px 0;
}

.top-wall-three {
	background-position: -192px 0;
}

.top-wall-four {
	background-position: -256px 0;
}

.top-right-wall {
	background-position: -320px 0;
}

.left-wall {
	background-position: 0 -64px;
}

.right-wall {
	background-position: -320px -64px;
}

.bottom-left-wall {
	background-position: 0 -128px;
}

.bottom-wall-one {
	background-position: -64px -128px;
}

.bottom-wall-two {
	background-position: -128px -128px;
}

.bottom-wall-three {
	background-position: -192px -128px;
}

.bottom-wall-four {
	background-position: -256px -128px;
}

.bottom-right-wall {
	background-position: -320px -128px;
}

.bottom-left-inverse-wall {
	background-position: 0 -192px;
}

.bottom-right-inverse-wall {
	background-position: -64px -192px;
}

.top-left-inverse-wall {
	background-position: -128px -192px;
}

.top-right-inverse-wall {
	background-position: -192px -192px;
}

.T-shaped-wall {
	background-position: -256px -192px;
}


/* DOORS */

.left-doorway {
	background-position: -386px 0;
}

.right-doorway {
	background-position: -448px 0;
}

.top-bottom-doorway {
	background-position: -386px -64px;
}


/* OBJECTS */

.object {
	position: absolute;
}

.front-door {
	width: 64px;
	height: 64px;
	background-position: -386px -128px;
	z-index: 1;
}

.front-door-open {
	width: 64px;
	height: 64px;
	top: 32px;
	left: -32px;
	background-position: -448px -128px;
	z-index: 1;
}

.side-door {
	width: 64px;
	height: 64px;
	background-position: -448px -128px;
	z-index: 1;
}

.left-side-door-open {
	width: 64px;
	height: 64px;
	top: -32px;
	left: -32px;
	background-position: -386px -128px;
	z-index: 1;
}

.right-side-door-open {
	width: 64px;
	height: 64px;
	top: -32px;
	left: 32px;
	background-position: -386px -128px;
	z-index: 1;
}

.exit {
	position: absolute;
	content: url('../assets/tilesets/Catacombs/catacombs.png');
	object-fit: none;
	object-position: -448px -386px;
	z-index: 0;
}
