.creature {
	position: absolute;
}

.ghoul {
	content: url('../assets/characters/creatures/ghoul.gif');
}

.ghoul-dead {
	content: url('../assets/characters/creatures/ghoul_dead.png');
}

.ghast {
}

.elder-thing {
	content: url('../assets/characters/creatures/elder_128.png');
}

.elder-thing-dead {
	content: url('../assets/characters/creatures/elder_128_dead.png');
}

.shoggoth {
	content: url('../assets/characters/creatures/shoggoth.png');
}

.shoggoth-dead {
	content: url('../assets/characters/creatures/shoggoth_dead.png');
}
