.creature {
	position: absolute;
	transition: transform 0.5s;
	user-select: none;
	opacity: 1;
	filter: drop-shadow(4px 4px 2px black);
	z-index: 1;
}

.creature.dead {
	pointer-events: none;
	z-index: 0;
}

.ghoul {
	content: url('../assets/characters/creatures/ghoul.png');
}

.ghoul-dead {
	content: url('../assets/characters/creatures/ghoul_dead.png');
}

.ghast {
	content: url('../assets/characters/creatures/ghast.png');
}

.ghast-dead {
	content: url('../assets/characters/creatures/ghast_dead.png');
}

.elder-thing {
	content: url('../assets/characters/creatures/elder_128.png');
}

.elder-thing-dead {
	content: url('../assets/characters/creatures/elder_128_dead.png');
}

.flying-polyp {
	content: url('../assets/characters/creatures/flyingPolyp.png');
}

.flying-polyp-dead {
	content: url('../assets/characters/creatures/flyingPolyp_dead.png');
}

.shoggoth {
	content: url('../assets/characters/creatures/shoggoth.png');
}

.shoggoth-dead {
	content: url('../assets/characters/creatures/shoggoth_dead.png');
}
