.creature {
	position: absolute;
}

.ghoul {
	content: url('../assets/characters/creatures/ghoul.gif');
}

.ghast {
	content: url('../assets/characters/creatures/ghast.png');
}

.elder-thing {
	content: url('../assets/characters/creatures/elder_128.png');
}
