.world {
	position: relative;
	margin: auto;
	background-color: black;
	transform-origin: 0 0;
	transition: transform 0.5s;
	touch-action: none;
}

.lighting {
	position: relative;
	margin: auto;
	z-index: 5;
	pointer-events: none;
	transition: transform 0.5s;
}

.player-characters {
	position: relative;
	margin: auto;
	z-index: 3;
	transition: transform 0.5s;
	cursor: pointer;
}

.creatures {
	position: relative;
	margin: auto;
	z-index: 2;
	transition: transform 0.5s;
	cursor: pointer;
}

.objects {
	position: relative;
	margin: auto;
	z-index: 1;
	transition: transform 0.5s;
	cursor: pointer;
}

.map {
	position: relative;
	margin: auto;
	z-index: 0;
	transition: transform 0.5s;
}

.hidden {
	display: none;
}

.selected {
	outline: 2px dashed red;
	outline-offset: 2px;
	border-radius: 15px;
	box-sizing: border-box;
}

.in-range {
	border: 2px solid yellow;
	border-radius: 15px;
	box-sizing: border-box;
	background-color: yellowgreen;
}
