.tile {
	position: absolute;
	border: none;
	box-sizing: border-box;
}

/* LIGHTING */

.light-tile {
	position: absolute;
	box-sizing: border-box;
	transition: opacity 0.5s;
}

.very-bright-light {
	opacity: 0;
}

.bright-light {
	opacity: 0.15;
}

.bright-med-light {
	opacity: 0.3;
}

.med-light {
	opacity: 0.45;
}

.med-low-light {
	opacity: 0.6;
}

.low-light {
	opacity: 0.7;
}

.ambient-light {
	opacity: 0.8;
}

.no-light {
	opacity: 1;
}

.black-light {
	background-color: black;
}

.yellow-light {
	background-color: #333300;
}

.bright-yellow-light {
	background-color: yellow;
}

/* OBJECTS */

.object {
	position: absolute;
}

.torch-top-wall {
	content: url('../assets/objects/torch.png');
}

.torch-left-wall {
	left: 25px;
	content: url('../assets/objects/torch.png');
}

.torch-right-wall {
	left: -25px;
	content: url('../assets/objects/torch.png');
}

.lantern {
	content: url('../assets/objects/lantern.png');
}

.ammo {
	content: url('../assets/objects/ammo.png');
}

.first-aid-kit {
	content: url('../assets/objects/firstaidkit.png');
}

.s-and-w-revolver {
	content: url('../assets/objects/SandWrevolver_sml.png');
}
