.tile {
	position: absolute;
	border: none;
	box-sizing: border-box;
}

.tile.secret:hover {
	cursor: default;
}

.map-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: black;
	transition: opacity 0.5s;
	pointer-events: none;
}

/* LIGHTING */

.light-tile {
	position: absolute;
	box-sizing: border-box;
	transition: opacity 0.5s;
	box-shadow: 0 0 64px 32px black; /* for blended lighting */
}

/* for blended lighting using above box-shadow, need to lower all light class opacities below
from 0.4-0.8 (str 1-5), 0.9 (ambient) to 0-0.6 (str 1-5), 0.6 (ambient) (except no-light)
as box-shadow greatly dims the lighting */

.light-strength-5 {
	opacity: 0;
}

.light-strength-4 {
	opacity: 0.07;
}

.light-strength-3 {
	opacity: 0.14;
}

.light-strength-2 {
	opacity: 0.21;
}

.light-strength-1 {
	opacity: 0.28;
}

.ambient-light {
	opacity: 0.6;
}

.no-light {
	opacity: 1;
}

.black-light {
	background-color: black;
}

.yellow-light {
	background-color: #333300;
}

.bright-yellow-light {
	background-color: yellow;
}

/* MAP OBJECTS */

.object {
	position: absolute;
	user-select: none;
	filter: drop-shadow(4px 4px 2px black);
	transition: opacity 0.5s;
}

.torch-top-wall, .torch {
	content: url('../assets/objects/torch_sml.png');
}

.torch-left-wall {
	content: url('../assets/objects/torch_sml.png');
}

.torch-right-wall {
	content: url('../assets/objects/torch_sml.png');
}

.light-left-wall {
	left: calc(var(--tile-size) / -4); /* -16px at tile size of 64px */
}

.light-right-wall {
	left: calc(var(--tile-size) / 4); /* 16px at tile size of 64px */
}

.light-top-left-inverse-wall {
	top: calc(var(--tile-size) * -0.05); /* -9.6px at tile size of 64px */
	left: calc(var(--tile-size) / 2); /* 32px at tile size of 64px */
}

.light-top-right-inverse-wall {
	top: calc(var(--tile-size) * -0.05); /* -9.6px at tile size of 64px */
	left: calc(var(--tile-size) / -2); /* -32px at tile size of 64px */
}

.light-bottom-left-inverse-wall {
	top: calc(var(--tile-size) * -0.5); /* -32px at tile size of 64px */
	left: calc(var(--tile-size) / -4); /* -16px at tile size of 64px */
}

.light-bottom-right-inverse-wall {
	top: calc(var(--tile-size) * -0.5); /* -32px at tile size of 64px */
	left: calc(var(--tile-size) / 4); /* 16px at tile size of 64px */
}

.electric-torch {
	content:  url('../assets/objects/flashlight_sml.png');
}

.lantern {
	content: url('../assets/objects/lantern_sml.png');
}

.oil {
	content: url('../assets/objects/oil_sml.png');
}

.handgun-ammo {
	content: url('../assets/objects/handgunAmmo_sml.png');
}

.shotgun-ammo {
	content: url('../assets/objects/shotgunAmmo_sml.png');
}

.first-aid-kit {
	content: url('../assets/objects/firstaidkit_sml.png');
}

.pharmaceuticals {
	content: url('../assets/objects/pharmaceuticals_sml.png');
}

.acid-concoction {
	content: url('../assets/objects/acid_sml.png');
}

.holy-water {
	content: url('../assets/objects/holyWater_sml.png');
}

.molotov-cocktail {
	content: url('../assets/objects/molotov-cocktail_sml.png');
}

.rock {
	content: url('../assets/objects/rock_sml.png');
}

.knife {
	content: url('../assets/objects/knife_sml.png');
}

.kris-knife {
	content: url('../assets/objects/krisKnife_sml.png');
}

.baseball-bat {
	content: url('../assets/objects/baseballBat_sml.png');
}

.pickaxe {
	content: url('../assets/objects/pickaxe_sml.png');
}

.colt-revolver {
	content: url('../assets/objects/coltRevolver_sml.png');
}

.s-and-w-revolver {
	content: url('../assets/objects/SandWrevolver_sml.png');
}

.remington {
	content: url('../assets/objects/remington_sml.png');
}

.leather-jacket {
	content: url('../assets/objects/leatherJacket_sml.png');
}

.bulletproof-vest {
	content: url('../assets/objects/bulletproofVest_sml.png');
}

.alcohol {
	content: url('../assets/objects/alcohol_sml.png');
}

.chemical {
	content: url('../assets/objects/chemical_sml.png');
}

.cloth {
	content: url('../assets/objects/cloth_sml.png');
}

.water {
	content: url('../assets/objects/water_sml.png');
}

.wood {
	content: url('../assets/objects/wood_sml.png');
}

.elder-sign {
	content: url('../assets/objects/elderSign_sml.png');
}

.necronomicon {
	content: url('../assets/objects/necronomicon_sml.png');
}

.gems {
	content: url('../assets/objects/gems_sml.png');
}

.precious-metals {
	content: url('../assets/objects/precious-metals_sml.png');
}

/* MAP ENV OBJECTS */

.env-object {
	position: absolute;
	user-select: none;
	filter: drop-shadow(2px 2px 2px black);
	transition: opacity 0.5s;
}

.door {
	position: absolute;
	pointer-events: none;
	user-select: none;
	transition: opacity 0.5s;
	z-index: 1;
}

.sarcophagus {
	content: url('../assets/objects/sarcophagus.png');
}

.sarcophagus-open {
	content: url('../assets/objects/sarcophagus-open.png');
}

.spike-trap {
	top: 8px;
	left: 8px;
	content: url('../assets/objects/spike-trap.png');
}

.spike-trap-triggered {
	top: 8px;
	left: 8px;
	content: url('../assets/objects/spike-trap-triggered.png');
}

.rocky-mound {
	content: url('../assets/objects/rocky-mound.png');
}

.rocky-mound-destroyed {
	content: url('../assets/objects/rocky-mound-destroyed.png');
}

.fancy-wall-light, .fancy-wall-light-top-wall {
	content: url('../assets/objects/wall-light-fancy.png');
}

.fancy-wall-light-top-wall {
	top: 5px;
}

.desk-with-chair {
	content: url('../assets/objects/desk-with-chair.png');
}

.museum-welcome-sign {
	content: url('../assets/objects/museum-welcome-sign.png');
}

.display-case-vertical {
	content: url('../assets/objects/display-case-vertical.png');
}

.display-case-square-one {
	content: url('../assets/objects/display-case-square-1.png');
}

.display-case-square-two {
	content: url('../assets/objects/display-case-square-2.png');
}

.display-case-square-three {
	content: url('../assets/objects/display-case-square-3.png');
}

.dinosaur-skeleton {
	content: url('../assets/objects/dinosaurSkeleton.png');
}

.dinosaur-skeleton-on-table {
	content: url('../assets/objects/dinosaur-skeleton-on-table.png');
}


/* EFFECTS */

.glow-pulse-once {
	border-radius: 50%;
	box-shadow: 0 0;
	animation: glow 0.5s linear 2 alternate;
}
@keyframes glow {
	100% {
		box-shadow: 0 0 10px 10px #CCCC99,
					inset 0 0 5px 5px #CCCC99;
	}
}
