.npc, .playerNpc {
	position: absolute;
	transition: transform 0.5s;
	user-select: none;
	opacity: 1;
	filter: drop-shadow(4px 4px 2px black);
	z-index: 2;
}

.professor-nymian {
	content: url('../assets/characters/npcs/professor-nymian.png');
}

.susan-winthrop {
	content: url('../assets/characters/npcs/susan-winthrop.png');
}
