.player {
	position: absolute;
	transition: transform 0.5s;
	user-select: none;
	filter: drop-shadow(4px 4px 2px black);
}

.private-eye {
	content: url('../assets/characters/players/private-eye.png');
}

.archaeologist {
	content: url('../assets/characters/players/archaeologist.png');
}

.chemist {
	content: url('../assets/characters/players/chemist.png');
}

.doctor {
	content: url('../assets/characters/players/doctor.png');
}

.priest {
	content: url('../assets/characters/players/priest.png');
}

.veteran {
	content: url('../assets/characters/players/veteran.png');
}

.thief {
	content: url('../assets/characters/players/thief.png');
}

.occult-researcher {
	content: url('../assets/characters/players/occult-researcher.png');
}
