.player {
	position: absolute;
}

.private-eye {
	content: url('../assets/characters/players/private-eye.png');
}

.archaeologist {
	content: url('../assets/characters/players/archaeologist.png');
}

.chemist {
	content: url('../assets/characters/players/chemist.png');
}
