.ui-panel {
	background-color: darkslategray;
	font-family: "Century Gothic", sans-serif;
	color: white;
	pointer-events: all;
	border-radius: 5px;
}

.ui-container {
	position: fixed;
	display: grid;
	grid-template-columns: 300px 1fr 400px 1fr 300px;
	grid-template-rows: 1fr 1fr 250px 1fr 150px;
	grid-template-areas:
	"log log log log log"
	"characterInfo . . . craetureInfo"
	"characterInfo . dialog . craetureInfo"
	". . . . ."
	"controlBar controlBar controlBar controlBar controlBar";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
}


.dialog {
	grid-area: dialog;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 10;
	border: 2px solid lightgray;
	border-radius: 10px;
	color: lightgray;
	background-color: darkslategray;
	text-align: center;
	padding: 20px;
	font-size: 24px;
}

.dialog-message {
}

.dialog-buttons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

.dialog-button {
	width: 100px;
	height: 30px;
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
}

.log-container {
	grid-area: log;
	padding: 10px;
	opacity: 0.6;
	font-size: 20px;
	overflow-y: scroll;
}

.log-line {
	margin: 3px;
}

.character-info-container {
	grid-area: characterInfo;
	padding: 10px;
	overflow-y: auto;
}

.creature-info-container {
	grid-area: craetureInfo;
	padding: 10px;
	overflow-y: auto;
}

.control-bar-container {
	grid-area: controlBar;
	display: flex;
	justify-self: center;
}

.character-control-container {
	width: 300px;
	background-color: gray;
	border: 2px solid cornflowerblue;
	border-radius: 5px;
	padding: 5px;
}

.character-name {
	display: inline-block;
	padding: 3px;
	font-size: 16px;
	font-family: "Copperplate Gothic Light", fantasy;
	border-bottom: 1px solid darkslategray;
}

.weapon-buttons-container {
	display: flex;
}

.weapon-button {
	margin: 5px;
	padding: 5px;
	border: 1px solid cornflowerblue;
	border-radius: 5px;
	background-color: darkslategray;
}

.weapon-button:hover {
	border-color: red;
	cursor: pointer;
}

.general-button {
	width: 100px;
	margin: 5px;
	padding: 5px;
	border: 1px solid cornflowerblue;
	border-radius: 5px;
	background-color: darkslateblue;
}

.general-button:hover {
	border-color: yellow;
	cursor: pointer;
}

.button-inactive {
	cursor: default;
	pointer-events: none;
	background-color: dimgray;
}

.button-selected {
	background-color: darkred;
}

.hide {
	display: none;
}
