@font-face {
	font-family: Copperplate; src: url('Copperplate-Gothic-Light-Regular.ttf');
}

.ui-panel {
	background-color: #225555;
	font-family: "Century Gothic", sans-serif;
	color: white;
	pointer-events: all;
	border-radius: 5px;
	transition: transform 0.5s;
	user-select: none;
}

.ui-container {
	position: fixed;
	display: grid;
	grid-template-columns: 500px 1fr 300px;
	grid-template-rows: 1.5fr 580px 1.5fr;
	grid-template-areas:
	"turnInfo turnInfo turnInfo"
	"characterInfo . creatureInfo"
	"controlBar controlBar controlBar";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
}

.font-fancy {
	font-family: Copperplate, "Gill Sans", sans-serif;
}

.dialog {
	position: fixed;
	width: 400px;
	top: 40%;
	left: calc(50% - 200px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 10;
	border: 2px solid lightgray;
	border-radius: 10px;
	color: lightgray;
	background-color: #225555;
	text-align: center;
	padding: 20px;
	font-size: 24px;
}

.dialog-message {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dialog-buttons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
}

.dialog-button {
	width: 100px;
	height: 30px;
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
}

.help-popup {
	position: absolute;
	width: 300px;
	height: 200px;
}

.login {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	background-color: #225555;
	border: none;
	border-radius: unset;
}

.login-method {
	margin-bottom: 30px;
}

.login-button {
	margin: 0 0 20px 20px;
	padding: 5px 10px;
	background-color: burlywood;
	cursor: pointer;
}

.login-email-message-hidden {
	visibility: hidden;
}

.login-email-pw-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 200px;
	grid-template-areas:
	"createtab logintab"
	"content content";
	width: 400px;
}

.email-pw-tab {
	border-radius: 5px 5px 0 0;
	font-size: 16px;
	height: 100%;
	line-height: 40px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	cursor: pointer;
}

.email-pw-tab:not(.active-tab):hover {
	background-color: burlywood;
	color: black;
}

.create-tab {
	grid-area: createtab;
}

.login-tab {
	grid-area: logintab;
}

.active-tab {
	border-top: 2px solid burlywood;
	border-left: 2px solid burlywood;
	border-right: 2px solid burlywood;
}

.active-tab-content {
	grid-area: content;
	padding-top: 20px;
	border-top: 2px solid burlywood;
}

.turn-info-container {
	grid-area: turnInfo;
	align-items: end;
	display: flex;
	justify-self: center;
	width: 100%;
	max-height: 128px;
	border: 2px solid seagreen;
	border-top: 0;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
}

.log-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 128px;
	padding: 10px;
	border-left: 1px solid seagreen;
	border-right: 1px solid seagreen;
	box-sizing: border-box;
	font-size: 20px;
}

.log-lines {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 140px;
	overflow-y: scroll;
}

.log-line {
	margin: 3px;
}

.mode-info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 340px;
	height: 128px;
	padding: 10px;
	border-left: 1px solid seagreen;
	border-right: 1px solid seagreen;
	box-sizing: border-box;
}

.character-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	grid-area: characterInfo;
	min-width: 250px;
	padding: 20px;
	border: 2px solid seagreen;
	border-left: 0;
	border-radius: 0 5px 5px 0;
	box-sizing: border-box;
	overflow-y: auto;
}

.char-info-header {
	display: flex;
	justify-content: space-between;
}

.char-info-inv-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.char-info-doll-container {
	min-width: 190px;
	height: 220px;
	padding: 10px;
	margin-right: 20px;
}

.char-info-paper-doll {
	content: url('../assets/ui/investigator_inv_doll.png');
	margin: auto;
}

.char-info-paper-doll-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	margin-left: 25px;
	border: 2px solid seagreen;
	text-align: center;
}

.char-info-doll-boxes-container {
	position: relative;
	top: -170px;
	left: 0;
}

.char-info-paper-doll-body {
	top: 0;
	left: 35px;
}

.char-info-paper-doll-right-arm {
	top: -10px;
	left: -35px;
}

.char-info-paper-doll-left-arm {
	top: -78px;
	left: 105px;
}

.char-info-equip-toggle-button {
	position: relative;
	top: -210px;
	left: 15px;
}

.char-info-stats-container {
	min-width: 150px;
	padding: 10px;
}

.char-info-inv-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	align-self: center;
	width: calc(66px * 6);
}

.char-info-inv-item-box {
	width: 64px;
	height: 64px;
	border: 1px solid seagreen;
}

.char-info-equipped-light {
	align-self: center;
}

.creature-info-container {
	grid-area: creatureInfo;
	padding: 10px;
	border: 2px solid seagreen;
	border-right: 0;
	border-radius: 5px 0 0 5px;
	box-sizing: border-box;
	overflow-y: auto;
}

.control-bar-container {
	grid-area: controlBar;
	display: flex;
	justify-self: center;
	align-self: end;
	width: 100%;
	max-height: 128px;
	border: 2px solid seagreen;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
}

.character-control-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-basis: 100%;
	padding: 5px;
	border-left: 1px solid seagreen;
	border-right: 1px solid seagreen;
	text-align: center;
}

.character-name {
	display: inline-block;
	padding: 3px;
	font-size: 16px;
	border-bottom: 1px solid #225555;
}

.context-manu-container {
	position: absolute;
	display: flex;
	gap: 5px;
	padding: 5px;
	border-left: 1px solid seagreen;
	border-right: 1px solid seagreen;
	box-sizing: border-box;
}

.weapon-buttons-container {
	display: flex;
}

.general-button {
	width: fit-content;
	height: min-content;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #CC9933;
	border-radius: 5px;
	color: white;
	background-color: #996633;
}

.minimize-button {
	width: 10px;
	height: 10px;
	padding: 3px;
	margin: 5px;
	font-size: 16px;
	line-height: 2px;
	text-align: center;
}

.action-button {
	width: 32px;
	height: 32px;
	margin: 5px;
	padding: 5px;
	border: 1px solid seagreen;
	border-radius: 5px;
	background-color: limegreen;
	background-position: center;
	background-repeat: no-repeat;
}

.gun-reload-icon {
	font-size: 30px;
	line-height: 30px;
}

.gun-reload-icon::after {
	content: '\21BA';
}

.general-button:hover, select:hover {
	border-color: yellow;
	cursor: pointer;
}

.button-inactive {
	cursor: default;
	pointer-events: none;
	background-color: #333333;
}

.button-selected {
	background-color: darkred;
}

.action-button:hover {
	border-color: red;
	cursor: pointer;
}

.button-tactical-mode-on {
	background-color: darkred;
}

.button-center-on-player {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 20px;
	bottom: 100px;
	background-image: url('../assets/ui/center-on-player.png');
	background-size: 32px 32px;
	pointer-events: all;
	cursor: pointer;
}

select {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #CC9933;
	border-radius: 5px;
	background-color: #996633;
	color: white;
	font-size: inherit;
	font-family: inherit;
}

.object-info-panel {
	position: fixed;
	max-width: 400px;
	padding: 10px;
	background-color: #225555;
	font-family: "Century Gothic", sans-serif;
	color: white;
	pointer-events: all;
	border: 1px solid white;
	border-radius: 5px;
	transition: transform 0.5s;
	box-shadow: 5px 5px 10px black;
	z-index: 1;
}

.object-panel-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.object-text-container {
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
	max-height: 200px;
	overflow-y: auto;
	margin-bottom: 20px;
}

.object-panel-buttons-container {
	display: flex;
	justify-content: center;
	gap: 5px;
	flex-wrap: wrap;
}

.object-panel-buttons {
	display: flex;
	gap: 5px;
	align-items: center;
}

.object-row-with-buttons {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 10px;
}

.object-row-with-buttons .inv-object {
	cursor: default;
}

.object-list-objname {
	width: 150px;
}

.hide {
	display: none;
}

/* INV OBJECTS */

.inv-object {
	width: 64px;
	height: 64px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	text-align: left;
}

.torch-inv {
	background-image: url('../assets/objects/torch_lrg.png');
}

.lantern-inv {
	background-image: url('../assets/objects/lantern_lrg.png');
}

.electric-torch-inv {
	background-image:  url('../assets/objects/flashlight_lrg.png');
}

.oil-inv {
	background-image:  url('../assets/objects/oil_lrg.png');
}

.handgun-ammo-inv {
	background-image: url('../assets/objects/handgunammo_lrg.png');
}

.first-aid-kit-inv {
	background-image: url('../assets/objects/firstaidkit_lrg.png');
}

.pharmaceuticals-inv {
	background-image: url('../assets/objects/pharmaceuticals_lrg.png');
}

.acid-concoction-inv {
	background-image: url('../assets/objects/acid_lrg.png');
}

.pickaxe-inv {
	background-image: url('../assets/objects/pickaxe_lrg.png');
}

.colt-revolver-inv {
	background-image: url('../assets/objects/coltRevolver_lrg.png');
}

.s-and-w-revolver-inv {
	background-image: url('../assets/objects/SandWrevolver_lrg.png');
}

.leather-jacket-inv {
	background-image: url('../assets/objects/leatherJacket_lrg.png');
}

.bulletproof-vest-inv {
	background-image: url('../assets/objects/bulletproofVest_lrg.png');
}


/* ACTION BUTTON ICONS */

.action-button {
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
}

.first-aid-kit-action {
	background-image: url('../assets/ui/firstaidkit_sml.png');
}

.pharmaceuticals-action {
	background-image: url('../assets/ui/pharmaceuticals_sml.png');
}

.oil-action {
	background-image: url('../assets/ui/oil_sml.png');
}

.acid-concoction-action {
	background-image: url('../assets/ui/acid_sml.png');
}

.pickaxe-action {
	background-image: url('../assets/ui/pickaxe_sml.png');
}

.colt-revolver-action {
	background-image: url('../assets/ui/coltRevolver_sml.png');
}

.s-and-w-revolver-action {
	background-image: url('../assets/ui/SandWrevolver_sml.png');
}

.refill-action {
	background-image: url('../assets/ui/refillLight_sml.png');
}

.examine-action {
	background-image: url('../assets/ui/magnifyingGlass_sml.png');
}

.look-action {
	background-image: url('../assets/ui/eyes_sml.png');
}

.player-action {
	background-image: url('../assets/ui/player-icon_sml.png');
}

.creature-action {
	background-image: url('../assets/ui/creature-icon_sml.png');
}

.move-action {
	background-image: url('../assets/ui/move-icon_sml.png');
}

/* Audio */

/* Specifies the size of the audio container */
.audio-music  {
	width: 125px;
	height: 25px;
	margin: 5px;
	border: 1px solid #CC9933;
	border-radius: 25px;
}
.audio-music::-webkit-media-controls-panel {
	-webkit-justify-content: center;
	height: 25px;
	background-color: seagreen;
}
.audio-music::-webkit-media-controls-timeline {
	display: none !important;
}
.audio-music::-webkit-media-controls-current-time-display {
	display: none;
}
.audio-music::-webkit-media-controls-time-remaining-display {
	display: none;
}
