.selected {
	border: 1px blue solid;
}

.selected-neighbor {
	border: 1px yellow solid
}

.selected-alt-class-one {
	border: 1px teal solid;
}

.selected-alt-class-two {
	border: 1px crimson solid;
}

.selected-alt-class-both {
	border: 1px green solid;
}

.tiles {
	content: url('../../client/src/assets/tilesets/Catacombs/catacombs.png');
	cursor: pointer;
	box-sizing: border-box;
}

/* FLOORS */

.floor {
	object-position: -256px -320px;
	object-fit: none;
}

/* WALLS */

.top-left-wall {
	object-position: 0 0;
	object-fit: none;
}

.top-wall {
	object-position: -64px 0;
	object-fit: none;
}

.top-right-wall {
	object-position: -320px 0;
	object-fit: none;
}

.left-wall {
	object-position: 0 -64px;
	object-fit: none;
}

.right-wall {
	object-position: -320px -64px;
	object-fit: none;
}

.bottom-left-wall {
	object-position: 0 -128px;
	object-fit: none;
}

.bottom-wall {
	object-position: -64px -128px;
	object-fit: none;
}

.bottom-right-wall {
	object-position: -320px -128px;
	object-fit: none;
}

.bottom-left-inverse-wall {
	object-position: 0 -192px;
	object-fit: none;
}

.bottom-right-inverse-wall {
	object-position: -64px -192px;
	object-fit: none;
}

.top-left-inverse-wall {
	object-position: -128px -192px;
	object-fit: none;
}

.top-right-inverse-wall {
	object-position: -192px -192px;
	object-fit: none;
}

.T-shaped-wall {
	object-position: -256px -192px;
	object-fit: none;
}


/* DOORS */

.left-doorway {
	object-position: -384px 0;
	object-fit: none;
}

.right-doorway {
	object-position: -448px 0;
	object-fit: none;
}

.top-bottom-doorway {
	object-position: -384px -64px;
	object-fit: none;
}
