.world {
	position: relative;
	height: 1000px;
	margin: auto;
	background-color: black;
	overflow: hidden;
}

.lighting {
	position: relative;
	margin: auto;
	z-index: 3;
	pointer-events: none;
}

.map {
	position: relative;
	margin: auto;
	z-index: 0;
}

.tile {
	position: absolute;
	border: none;
	background-image: url('https://i.pinimg.com/originals/8d/e1/c5/8de1c51709e35e72c7222a0b0ced0edf.jpg');
	background-size: 100%;
	box-sizing: border-box;
}

/*.top-wall {*/
/*  border-top: 2px solid black;*/
/*}*/

/*.bottom-wall {*/
/*  border-bottom: 2px solid black;*/
/*}*/

/*.left-wall {*/
/*  border-left: 2px solid black;*/
/*}*/

/*.right-wall {*/
/*  border-right: 2px solid black;*/
/*}*/

.light-tile {
	position: absolute;
	box-sizing: border-box;
}

.bright-light {
	opacity: 0;
}

.high-light {
	opacity: 0.3;
}

.med-light {
	opacity: 0.6;
}

.low-light {
	opacity: 0.85;
}

.no-light {
	opacity: 1;
}

.black-light {
	background-color: black;
}

.yellow-light {
	background-color: #333300;
}

.bright-yellow-light {
	background-color: yellow;
}
