.player {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 5px;
	z-index: 4;
	content: url('https://thumbs.gfycat.com/ClearcutPowerlessHyrax-max-1mb.gif');
}

.exit {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 5px;
	z-index: 1;
	pointer-events: none;
	content: url('https://opengameart.org/sites/default/files/stairs_32x32_EVEN%20EVEN%20MOAR%20SHADOW_0.png');
}
